header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; /* Adjust the margin as needed */
}


.logo {
    display: flex;
    align-items: center;
}

.logo svg {
    margin-right: 5px; /* Adjust the margin to your preference */
}

.login {
    margin-top: 5   0px;
    text-align: center;
}

.login-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* login.css */

.email-field {
    /* Add your styling for the email field here */
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
/* login.css */

.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}
